{% extends "main.html" %}
{% block title %}Add Elements!{% endblock %}

{% block extra_css %}
<style>
* { box-sizing: border-box; }
body {
  font: 16px Arial; 
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
</style>
{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/autocomp.js') }}" ></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/smart_album_full.js') }}" ></script>
<link href="{{ url_for('static', filename='css/autocomp.css') }}" rel="stylesheet" type="text/css" media="all">
{% endblock %}

{% block extra_JS %}
var keywords = {{ g.kw_data | safe }};
var albumNames = {{ g.album_names | safe }};
var albumIds = {{ g.album_ids | safe }};

function addMinus(div) {
  var row = div.getAttribute("rownumber");
  var mbdiv = document.createElement("div");
  mbdiv.setAttribute("id", "minusbuttondiv" + row);
  mbdiv.setAttribute("name", "minusbuttondiv" + row);
  mbdiv.setAttribute("class", "one column minusbutton");
  var img = document.createElement("img");
  img.setAttribute("id", "minusbutton" + row);
  img.setAttribute("name", "minusbutton" + row);
  img.setAttribute("src", "{{ url_for('static', filename='icons8-minus.png')}}");
  img.setAttribute("title", "Click to remove this smart rule");
  img.onclick = function() {
    removeRow(row);
  };
  mbdiv.appendChild(img);
  div.appendChild(mbdiv);
}

function addJoin(div, currRuleRow) {
  var row = div.getAttribute("rownumber");
  var mbdiv = document.createElement("div");
  mbdiv.setAttribute("id", "joinbuttondiv" + row);
  mbdiv.setAttribute("name", "joinbuttondiv" + row);
  mbdiv.setAttribute("class", "one column joinbutton");
  var dd = document.createElement("select");
  dd.setAttribute("id", "join" + currRuleRow);
  dd.setAttribute("name", "join" + currRuleRow);
  var opt = document.createElement("option");
  opt.setAttribute("id", "joinoptand" + currRuleRow);
  opt.setAttribute("name", "joinoptand" + currRuleRow);
  opt.setAttribute("value", "AND");
  opt.innerText = "AND";
  dd.appendChild(opt);
  opt = document.createElement("option");
  opt.setAttribute("id", "joinoptor" + currRuleRow);
  opt.setAttribute("name", "joinoptor" + currRuleRow);
  opt.setAttribute("value", "OR");
  opt.innerText = "OR";
  dd.appendChild(opt);
  mbdiv.appendChild(dd);
  div.appendChild(mbdiv);
}
{% endblock %}


    {% block content %}

    <div>
    <form method="post" id="update_album_rules" name="update_album_rules" action="/albums/update_rules">
      <input type="hidden" id="pkid" name="pkid" value="{{ g.album['pkid'] }}" />
      <div class="row" style="margin-top: 5%;">
        <div id="namediv" class="two columns">
          Name:
        </div>
        <div id="nameinputdiv" class="four columns">
          <input name="name" type="text" size="44" value="{{ g.album["name"] }}" />
        </div>
      </div>
      <div id="controlGroup" class="row twelve columns">
        <script>
        var rulenum;
        var rules = JSON.parse('{{ g.rules|safe }}');
          for (rulenum=0; rulenum < rules.length; rulenum++) {
            var objRules = Object.entries(rules[rulenum]);
            for (const [field, rule] of objRules) {
                var comp = Object.keys(rule)[0];
                var val = Object.values(rule)[0];
                console.log("ADDING " + field + " " + comp + " " + val);
                addRuleRow(field, comp, val);
            }
          previewRules();
          }
        </script>

      </div>
      <div class="row">
          <img id="addbutton" title="Click to add another smart rule" src="{{ url_for('static', filename='icons8-plus.png')}}" />
      </div>
      <div class="row">
          <img id="previewbutton" title="Preview rules result" src="{{ url_for('static', filename='icons8-preview.png')}}" />
      </div>
      <div class="row">
        <input name="update" type="submit" value="{{'UPDATE' if g.album['pkid'] else 'CREATE' }}" align="center" />
        <input name="delete" type="submit" value="DELETE" align="center" />
      </div>
      <div class="row" id="previewCount">
        <span class="smartresult" id="smartresult"></span>
      </div>
      <div class="row" id="previewImages">
      </div>
    </form>
    </div>

    {% endblock %}
