{% extends "main.html" %}
{% block title %}Add Elements!{% endblock %}

{% block extra_css %}
<style>
* { box-sizing: border-box; }
body {
  font: 16px Arial; 
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
</style>
{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/autocomp.js') }}" ></script>
<link href="{{ url_for('static', filename='css/autocomp.css') }}" rel="stylesheet" type="text/css" media="all">
{% endblock %}

{% block extra_JS %}
// Used for empty dropdown selectors.
var blankType = "{type}";
var blankSelect = "-Select " + blankType + "-";
var keywords = {{ g.kw_data | safe }};

function removeComparator(div) {
  var kids = div.children;
  for (i = kids.length - 1; i >= 2; i--) {
    kids[i].remove()
  }
}


function removeValueObj(div) {
  var kids = div.children;
  for (i = kids.length - 1; i >= 3; i--) {
    kids[i].remove()
  }
}


function removeRow(row) {
  var div = document.getElementById("newdiv" + row);
  div.remove();
}


function addMinus(div) {
  var row = div.getAttribute("rownumber");
  var mbdiv = document.createElement("div");
  mbdiv.setAttribute("id", "minusbuttondiv" + row);
  mbdiv.setAttribute("name", "minusbuttondiv" + row);
  mbdiv.setAttribute("class", "one column minusbutton");
  var img = document.createElement("img");
  img.setAttribute("id", "minusbutton" + row);
  img.setAttribute("name", "minusbutton" + row);
  img.setAttribute("src", "{{ url_for('static', filename='icons8-minus.png')}}");
  img.setAttribute("title", "Click to remove this smart rule");
  img.onclick = function () {
    removeRow(row);
  };
  mbdiv.appendChild(img);
  div.appendChild(mbdiv);
}


function addTextField(div, row) {
  removeValueObj(div);
  var textField = document.createElement("input");
  textField.setAttribute("type", "text");
  textField.setAttribute("id", "value" + row);
  textField.setAttribute("name", "value" + row);
  textField.setAttribute("value", "");
  return textField;
}


function addAutoCompleteTextField(div, row) {
  removeValueObj(div);
  var textField = document.createElement("input");
  textField.setAttribute("type", "text");
  textField.setAttribute("class", "autocomplete");
  textField.setAttribute("id", "value" + row);
  textField.setAttribute("name", "value" + row);
  textField.value = "";
  autocomplete(textField, keywords);
  return textField;
}


function addAlbumPicker(div, row) {
  removeValueObj(div);
  var selectObj = document.createElement("select");
  selectObj.setAttribute("id", "value" + row);
  selectObj.setAttribute("name", "value" + row);
  var opt = document.createElement("option");
  opt.setAttribute("id", "albumopt-select-" + row);
  opt.setAttribute("name", "albumopt-select-" + row);
  opt.innerText = blankSelect.replace(blankType, "Album");
  selectObj.appendChild(opt);
  var albumNames = {{ g.album_names | safe }};
  var albumIds = {{ g.album_ids | safe }};
  for (i = 0; i <= albumNames.length; i++) {
    opt = document.createElement("option");
    opt.setAttribute("id", "albumopt" + row + "-" + i);
    opt.setAttribute("name", "albumopt" + row + "-" + i);
    opt.setAttribute("value", albumIds[i]);
    opt.innerText = albumNames[i];
    selectObj.appendChild(opt);
  }
  return selectObj;
}


function addOptsForField(div, comp, field, row, val) {
  var optNames = [];
  var row = div.getAttribute("rownumber");
  var valueObj = null;
  var i;
  switch (field) {
    case "keywords":
      optNames = ["Contains", "Does not contain"];
      valueObj = addAutoCompleteTextField(div, row);
      break;
    case "name":
      optNames = ["Equals", "Starts with", "Ends with", "Contains"];
      valueObj = addTextField(div, row);
      break;
    case "orientation":
      optNames = ["Horizontal", "Vertical", "Square"];
      removeValueObj(div);
      break;
    case "created":
      optNames = ["Equals", "Before", "After", "On or before", "On or after"];
      valueObj = addTextField(div, row);
      break;
    case "year":
      optNames = [];
      var currentDate = new Date();
      var currentYear = currentDate.getFullYear();
      for (i=currentYear; i>= 1969; i--) {
        optNames.push(i);
      }
      removeValueObj(div);
      break;
    case "album":
      optNames = ["Is a member of", "Is not a member of"];
      valueObj = addAlbumPicker(div, row);
      break;
  }
  if (valueObj !== null) {
    var valueDiv = document.createElement("div");
    valueDiv.setAttribute("id", "valueselectdiv" + row);
    valueDiv.setAttribute("class", "three columns");
    valueDiv.appendChild(valueObj);
    div.appendChild(valueDiv);
    valueObj.value = val;
    valueObj.focus();
  }
  for (i = 0; i < optNames.length; i++) {
    opt = document.createElement("option");
    opt.setAttribute("id", "compopt" + row + "-" + i);
    opt.setAttribute("name", "compopt" + row + "-" + i);
    opt.setAttribute("value", optNames[i]);
    opt.innerText = optNames[i];
    comp.appendChild(opt);
  }
}

function setComparator(field, div, comp, val) {
  removeComparator(div);

  var row = div.getAttribute("rownumber");
  var compSelectDiv = document.createElement("div");
  compSelectDiv.setAttribute("id", "compselectdiv" + row);
  compSelectDiv.setAttribute("class", "two columns");
  div.appendChild(compSelectDiv);

  compObj = document.createElement("select");
  compObj.setAttribute("id", "comp" + row);
  compObj.setAttribute("name", "comp" + row);
  compSelectDiv.appendChild(compObj);
  addOptsForField(div, compObj, field, row, val);
  if (comp !== undefined) {
    compObj.value = comp;
  }
}


function addRuleRow(field, comp, val) {
  var grp = document.getElementById("controlGroup");
  var currRuleRow = document.maxRules++;
  /*create a DIV element that will contain the items (values):*/
  var fldNames = ["keywords", "name", "orientation", "created", "year", "album"]
  var newdiv = document.createElement("div");
  newdiv.setAttribute("id", "newdiv" + currRuleRow);
  newdiv.setAttribute("class", "twelve columns");
  newdiv.setAttribute("rownumber", currRuleRow);
  addMinus(newdiv)
  grp.appendChild(newdiv);

  var fieldSelectDiv = document.createElement("div");
  fieldSelectDiv.setAttribute("id", "fieldselectdiv" + currRuleRow);
  fieldSelectDiv.setAttribute("class", "two columns");
  newdiv.appendChild(fieldSelectDiv);
  var dd = document.createElement("select");
  dd.setAttribute("id", "field" + currRuleRow);
  dd.setAttribute("name", "field" + currRuleRow);
  fieldSelectDiv.appendChild(dd);

  var opt = document.createElement("option");
  var thisfield = blankSelect.replace(blankType, "Field");
  opt.setAttribute("id", "fldopt-select-" + currRuleRow);
  opt.setAttribute("name", "fldopt-select-" + currRuleRow);
  opt.innerText = thisfield;
  dd.appendChild(opt);
  var i;
  for (i = 0; i < fldNames.length; i++) {
    thisfield = fldNames[i];
    opt = document.createElement("option");
    opt.setAttribute("id", "fldopt" + currRuleRow + "-" + thisfield);
    opt.setAttribute("name", "fldopt" + currRuleRow + "-" + thisfield);
    opt.setAttribute("value", thisfield);
    opt.innerText = thisfield;
    if (field === thisfield) {
      opt.selected = true;
    }
    dd.appendChild(opt);
  }
  dd.addEventListener(("change"), function () {
    setComparator(dd.value, newdiv);
  })
  if (comp !== undefined) {
    setComparator(field, newdiv, comp, val);
  }
  /*
  if (val !== undefined) {
    setComparator(field, newdiv, comp, val);
    }
    */
  /*append the DIV element as a child */
}

document.addEventListener("DOMContentLoaded", function () {
  btn = document.getElementById("addbutton");
  btn.addEventListener(("click"), function (e) {
    addRuleRow();
  })
});
{% endblock %}


    {% block content %}

    <div>
    <form method="post" id="update_album_rules" name="update_album_rules" action="/albums/update_rules">
      <input type="hidden" name="pkid" value="{{ g.album['pkid'] }}" />
      <div class="row" style="margin-top: 5%;">
        <div id="namediv" class="two columns">
          Name:
        </div>
        <div id="nameinputdiv" class="four columns">
          <input name="name" type="text" size="44" value="{{ g.album["name"] }}" />
        </div>
      </div>
      <div id="controlGroup" class="row twelve columns">
        <script>
        var rulenum;
        var rules = JSON.parse('{{ g.rules|safe }}');
          for (rulenum=0; rulenum < rules.length; rulenum++) {
            var objRules = Object.entries(rules[rulenum]);
            for (const [field, rule] of objRules) {
                var comp = Object.keys(rule)[0];
                var val = Object.values(rule)[0];
                console.log("ADDING " + field + " " + comp + " " + val);
                addRuleRow(field, comp, val);
            }
          }
        </script>

      </div>
      <div class="row">
          <img id="addbutton" title="Click to add another smart rule" src="{{ url_for('static', filename='icons8-plus.png')}}" />
      </div>
      <div class="row">
        <input name="update" type="submit" value="{{'UPDATE' if g.album['pkid'] else 'CREATE' }}" align="center" />
        <input name="delete" type="submit" value="DELETE" align="center" />
      </div>
    </form>
    </div>

    {% endblock %}
