{% extends "main.html" %}
{% block title %}Frame Detail{% endblock %}
    {% block content %}
    <div class="row" style="margin-top: 5%">
    <h1>Frame "{{ g.frame["name"] }}"</h1>
    <form method="post" id="update_frame" name="update_frame" action="/frames/{{ g.frame['pkid'] }}/update">
    <input type="hidden" name="pkid" value="{{ g.frame['pkid'] }}" />
    <table class="u-full-width">
        <tbody>
        <tr>
            <td align="right">ID:</td>
            <td>{{ g.frame["pkid"] }}</td>
        </tr>
        <tr>
            <td align="right">Name:</td>
            <td><input type="text" name="name" id="name" value="{{ g.frame['name'] }}" /></td>
        </tr>
        <tr>
            <td align="right">Description:</td>
            <td><input type="text" name="description" id="description" value="{{ g.frame['description'] }}" /></td>
        </tr>
        <tr>
            <td align="right">Interval Type:</td>
            <td>
                <select name="interval_type">
                  <option value="halflife"{{ " selected" if g.frame["use_halflife"] else "" }}>Halflife Decay</option>
                  <option value="variance"{{ " selected" if not g.frame["use_halflife"] else "" }}>Variance</option>
                </select>
            </td>
        </tr>
        <tr>
            <td align="right">Interval:</td>
            <td><input type="text" id="interval_time" name="interval_time" value="{{ g.frame['interval_time'] }}" /></td>
        </tr>
        <tr>
            <td align="right">Units:</td>
            <td>
                <select name="interval_units">
                  <option value="days"{{ " selected" if g.frame["interval_units"] == "days" else "" }}>Days</option>
                  <option value="hours"{{ " selected" if g.frame["interval_units"] == "hours" else "" }}>Hours</option>
                  <option value="minutes"{{ " selected" if g.frame["interval_units"] == "minutes" else "" }}>Minutes</option>
                  <option value="seconds"{{ " selected" if g.frame["interval_units"] == "seconds" else "" }}>Seconds</option>
                </select>
            </td>
        </tr>
        <tr>
            <td align="right">Interval Variance (pct):</td>
            <td><input type="text" id="variance_pct" name="variance_pct" value="{{ g.frame['variance_pct'] }}" /></td>
        </tr>
        <tr>
        <tr>
            <td align="right">Brightness:</td>
            <td><input type="text" id="brightness" name="brightness" value="{{ g.frame['brightness'] }}" /></td>
        </tr>
            <td align="right">Contrast:</td>
            <td><input type="text" id="contrast" name="contrast" value="{{ g.frame['contrast'] }}" /></td>
        </tr>
        <tr>
            <td align="right">Saturation:</td>
            <td><input type="text" id="saturation" name="saturation" value="{{ g.frame['saturation'] }}" /></td>
        </tr>
        <tr>
            <td align="right">Log Level:</td>
            <td>
                <select name="log_level">
                  <option value="DEBUG"{{ " selected" if g.frame["log_level"] == "DEBUG" else "" }}>DEBUG</option>
                  <option value="INFO"{{ " selected" if g.frame["log_level"] == "INFO" else "" }}>INFO</option>
                  <option value="WARN"{{ " selected" if g.frame["log_level"] == "WARN" else "" }}>WARN</option>
                  <option value="ERROR"{{ " selected" if g.frame["log_level"] == "ERROR" else "" }}>ERROR</option>
                </select>
            </td>
        </tr>
        <tr>
            <td align="right">Orientation:</td>
            <td>{{ g.frame["orientation"] }}</td>
        </tr>
        <tr>
            <td align="right">Free space:</td>
            <td>{{ human_fmt(g.frame["freespace"]) }}</td>
        </tr>
        <tr>
            <td align="right">IP Address:</td><td>{{ g.frame["ip"] }}</td>
        </tr>
        <tr>
            <td align="right">Updated:</td><td>{{ g.frame["updated"] }}</td>
        </tr>
        </tbody>
    </table>
    <input type="submit" name="submit" value="Update" />
    <input type="submit" name="delete" value="Delete" />
    </form>
    <form method="post" id="reboot_frame" name="reboot_frame" action="/frames/{{ g.frame['pkid'] }}/reboot">
    <input type="submit" name="submit" value="Reboot Frame" />
    </form>
    <form method="post" id="restart_screen" name="restart_screen" action="/frames/{{ g.frame['pkid'] }}/screen">
    <input type="submit" name="submit" value="Restart web Display" />
    </form>

</div>
{% endblock %}
