{% extends "master.html" %}
{% block title %}Frameset Detail{% endblock %}
    {% block content %}
    <div class="row" style="margin-top: 5%">
        <form method="post" id="update_frameset" name="update_frameset" action="/framesets/update">
            <input type="hidden" name="pkid" value="{{ g.frameset['pkid'] }}" />
            <table align="center">
                <tr>
                    <td>Name:</td><td><input name="name" type="text" size="44" value="{{ g.frameset["name"] }}" /></td>
                </tr>
                <tr>
                    <td>Orientation:</td>
                    <td>
						<select id="orientation" name="orientation">
						  <option value="H"{% if g.frameset["orientation"] == "H" %}selected {% endif %}>Horizontal</option>
						  <option value="V"{% if g.frameset["orientation"] == "V" %}selected {% endif %}>Vertical</option>
						  <option value="S"{% if g.frameset["orientation"] == "S" %}selected {% endif %}>Square</option>
						</select>
                </tr>
            </table>
            {% if g.frames %}
            <div align="center"><h3>Frames in this Frameset</h3></div>
            <table align="center">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  {% for frame in g.frames %}
                  <tr>
                    <td style="font-weight: bold;">{{ frame["name"] }}</td>
                    <td>{{ frame["description"] }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
            {% endif %}
            <input name="update" type="submit" value="UPDATE" align="center">
            <br />
            <input name="delete" type="submit" value="DELETE" align="center">
        </form>
    </div>
    {% endblock %}
