{% extends "main.html" %}
{% block title %}Image Detail{% endblock %}
    {% block content %}
    <div class="row" style="margin-top: 5%">
        {% set thumb_img = "/thumbs/%s" % g.image["name"] %}
        <img src="{{ thumb_img }}" align="center" />
        <form method="post" id="update_image" name="update_image" action="/images/update">
            <input type="hidden" name="pkid" value="{{ g.image['pkid'] }}" />
            <input type="hidden" name="orig_name" value="{{ g.image['name'] }}" />
            <table align="center">
                <tr>
                    <td>Name:</td><td><input name="name" type="text" size="44" value="{{ g.image["name"] }}" /></td>
                </tr>
                <tr>
                    <td>Keywords:</td><td><input name="keywords" type="text" size="44" value="{{ g.image["keywords"] }}" /></td>
                </tr>
                <tr>
                    <td>Orientation:</td><td>{{ g.image["orientation"] }}</td>
                </tr>
                <tr>
                    <td>Type:</td><td>{{ g.image["imgtype"] }}</td>
                </tr>
                <tr>
                    <td>Size:</td><td>{{ g.image["size"] }}</td>
                </tr>
            </table>
            <input name="update" type="submit" value="UPDATE" align="center">
            <br />
            <input name="delete" type="submit" value="DELETE" align="center">
        </form>
    </div>
    {% endblock %}
