{% extends "main.html" %}
{% block title %}Login{% endblock %}
    {% block content %}
    <div class="row" style="margin-top: 5%">
    <h1>Please enter your credentials</h1>
    <form method="post" id="post_login" name="post_login" action="/login">
    <table class="u-full-width">
        <tbody>
        <tr>
            <td style="text-align: right;">Username:</td>
            <td><input type="text" name="username" id="username" value="" /></td>
        </tr>
        <tr>
            <td style="text-align: right;">Password:</td>
            <td><input type="password" id="pw" name="pw" value="" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Login" /></td>
        </tr>
        </tbody>
    </table>
    
    </form>

</div>
{% endblock %}
