{% extends "master.html" %}
{% block title %}Frame Listing{% endblock %}
    {% block content %}
    <div class="row" style="margin-top: 5%">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form method="post" id="upload_form" name="upload_form"
        action="/images/upload_file" enctype="multipart/form-data">

    <table border="0" width="88%" cellspacing="5" style="margin-top: 2em;">
        <tr>
            <td align="right" valign="top">
            Image Keywords:
            </td>
            <td>
            <input name="file_keywords" type="text" size="60">
            </td>
        </tr>
        <tr>
            <td align="right" valign="top">
            File to upload:
            </td>
            <td>
            <input name="image_file" type="file" id="image_file">
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input name="submit" type="submit"></td>
        </tr>
    </table>

    </form>
    </div>
    {% endblock %}
