{% extends "master.html" %}
{% block title %}New User{% endblock %}
    {% block content %}
    <div class="row" style="margin-top: 5%">
    <h1>New User</h1>
    <form method="post" id="post_user" name="post_user" action="/create_user">
    <table class="u-full-width">
        <tbody>
        <tr>
            <td style="text-align: right;">Username:</td>
            <td><input type="text" name="username" id="username" value="" /></td>
        </tr>
        <tr>
            <td style="text-align: right;">Password:</td>
            <td><input type="password" id="pw" name="pw" value="" /></td>
        </tr>
        <tr>
            <td style="text-align: right;">User type:</td>
            <td>
              <select name="user_type" id="user_type">
                <option value="regular">Normal</option>
                <option value="super">Admin</option>
              </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Register" /></td>
        </tr>
        </tbody>
    </table>
    
    </form>

</div>
{% endblock %}
